@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(45deg,#0a0a0a,#3a4452);
    animation:moveBodyUpDown 5s ease-in-out;
}

@keyframes moveBodyUpDown {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}

.calculator{
    border:1px solid #432C7A;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.9);
}


input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(90, 215, 217, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    transition: box-shadow 0.3s ease-in-out; ;
}

input:focus{
    box-shadow: 0px 3px 20px rgba(255, 100, 100, 0.3);
}
input::placeholder{
    color:#FF9F9F;
}

button{
    border:none;
    width: 70px;
    height: 70px;
    margin: 8px;
    border-radius: 50%;
    background: transparent;
    color: #fff;
    font-size: 20px;
    box-shadow: -8px 8px 15px rgba(228, 103, 103, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover{
    background-color: #432C7A;
    transform: translateY(-5px);
}

button.btn{
    background-color: #fb7c14;
}

.city{
    color:red;
}
.operator{
    color:#6dee6d;
}

@media screen and (max-width:768px){
    .calculator{
        padding: 15px;
    }
    input{
        font-size:32px;
    }
    button{
        width:60px;
        height:60px;
        font-size:18px;
    }
}

@media screen and (max-width:480px){
    .calculator{
        padding:10px;
    }
    input{
        font-size: 28px;
        padding:18px;
    }
    button{
        width:55px;
        height: 55px;
        font-size:16px;
    }
    .row{
        display: grid;
        grid-template-columns: (4, 1fr);
        gap:8px;
    }
    .calculator{
        max-width: 320px;
    }
    button.equalBtn{
        width:100%;
    }
}


